streamlit==1.32.0
streamlit-option-menu==0.3.12
streamlit-webrtc==0.47.4
scikit-learn==1.4.1
nltk==3.8.1
pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.3
plotly==5.20.0
pyttsx3==2.90
SpeechRecognition==3.10.1
PyPDF2==3.0.1
bcrypt==4.1.2
Pillow==10.2.0
av==11.0.0
pyaudio==0.2.14
scipy==1.13.0
streamlit-code-editor==0.1.3
